

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(33 37 41) ;
  line-height: 1.6;
  margin: auto;
}
.presentation{
  max-width: 1000px;
  
}
.stack-container{
  background-color: #151e2c;
}
.stack{
  background-color: #151e2c;
}
.experience-container{
  background-color: #343e4e;
}
.experience{
  background-color: #343e4e;

}
.projects-container{
  background-color: #425e8b;
}
.projects{
  background-color: #425e8b;

}
.card{
  padding: 20px;
}
.hidden{
  display: none;
}
.card:hover .hidden{
  display: block;
}
a{
  text-decoration: none;

}